%section{ style: "height: 428px;" }
  = image_tag "home/front.png", { alt: "Embassy Place Apartments", class: "shadow" }
  #opening-description.white.shadow
    %h1 Life at Embassy Place
    %p Enjoy your own private world as part of White Oak Estates, the premier residential community in Munster and Highland, Indiana. The White Oak Estates community features five landscaped lakes, three parks with over eight acres of dedicated park area, over twenty-seven acres of dedicated open space, and the stately architecture associated with the White Oak Estates name.
    %p= link_to "Take a Look Around", gallery_path

